<!DOCTYPE html>
<html>
    <head>
        <title>Rentar</title>
    </head>

    <body>
        <h1>Rate an Apartment</h1>

        <form id="apartment_rating_form" method="POST"/><!-- for some reason this action is needed. makes url weird, but it posts to database-->

            {% csrf_token %}
            <!-- {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %} -->

            {% for field in form.visible_fields %}
                {{ field.errors }}
		{{ field.label_tag }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}
	    <input type="submit" name="submit" value="Add Apartment Rating"/>
	</form>
    </body>

</html>
