<!DOCTYPE html>
<html>
    <head>
        <title>Rentar</title>
    </head>

    <body>
        <h1>Add a Apartment</h1>

        <form id="apartment_form" method="post" action = "/"/>

            {% csrf_token %}
            <!-- {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %} -->

            <!-- {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %} -->
            <p><label for="address_text">Adrress:</label>
    			<input id="address_text" type="text"></p>
			<p><label for="years_lived">Years Lived:</label>
    			<input id="years_lived" type="text"></p>
			<p><label for="security_deposit">Security Deposit:</label>
    			<input id="security_deposit" type="number"></p>
            <input type="submit" name="submit" value="Create Apartment"/>
        </form>
    </body>

</html>
