{% extends 'header.html' %}
{% block body %}

    <html>
      <head>
        <meta charset="utf-8">
        <title>Street View side-by-side</title>
        <style>
          html, body {
            height: 50%;
            margin: 0;
            padding: 0;
          }
          #map, #pano {
            float: left;
            height: 100%;
            width: 45%;
          }
          #rate{

          }
        </style>
      </head>
          <h1>
              Address
          </h1>

        <div id="map"></div>
        <div id="pano"></div>
        <script>

          function initialize() {
            var fenway = {lat: 43.0008, lng: -78.7890};
            var map = new google.maps.Map(document.getElementById('map'), {
              center: fenway,
              zoom: 14
            });
            var panorama = new google.maps.StreetViewPanorama(
                document.getElementById('pano'), {
                  position: fenway,
                  pov: {
                    heading: 34,
                    pitch: 10
                  }
                });
            map.setStreetView(panorama);
          }
        </script>
        <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMOmPLGoFdmb2OrswKsqz-cehbMG3jJdA&callback=initialize">
        </script>

        <center>
        <form  action="pages/address-view.html" method="get">
            <input type="submit" value="rate"
                  name="rate" id="frm1_submit" />
        </form>
        </center>

    </html>

{% endblock %}
