{% extends 'header.html' %}
{% block body %}
	<div class="container">
		<div class="mission-statement">
			<center>
			<h1>
				Rentar is for apartment renters
			</h1>
			<p>
				This site is used to find out information about an apartment that you are considering to rent.
			</p>
			</center>
			<br>
			<br>
			<center> <i>User feedback is useful to us! Let us know about features that may be useful or bugs that need squashing!</i> </center>
			<center><strong>Email us at: <a href="mailto:RentarRaptor@gmail.com?" target="_top">RentarRaptor@gmail.com</a> </center>
		</div>
	</div>
{% endblock %}
