<!--
this is a html document i will use to take notes with
on how to make a bootstrap website for cse442
10/22/2016
-->

<!-- always incluse these in you pages
-->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<!--
			to ensure proper rendering and touch zooming, add the 
			following <meta> tag inside the <head> element:
			here insie this area where this note is

		-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!--
			the width=deviceo-width part sets the width of the page to follow the screen-width of the device
			which will vary depending on the device
			the initial-scale=1 part sets the intial zoom level when the page is first laoded by the browser
		-->

		<!--
			these are the CDN used for rendering bootstrap features they are usaully found here in the 
			head tags
		-->
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
{% extends 'header.html' %}
  <!--
		<div class="container-fluid">
			<div class="page-header">
				<center><img src="assets/images/fakelogo.png" width="500" height="200" alt="logo"/></center>
			</div>
		</div>
		<div class="container">
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<ul class="nav navbar-nav">
						<li class="active"><a href="index.html">Home</a></li>
						<li><a href="assets/pages/login.html">Login</a></li>
						<li><a href="#">Ratings</a></li>
						<li><a href="assets/pages/addressview.html">Address</a></li>
						<li><a href="assets/pages/contact.html">Contact Us</a></li>
					</ul>
				</div>
			</nav>
		</div>

    -->
		<!-- trigger the modal with a button -->
		<div class="container-fluid">
		<center><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Address_info</button></center>
		<div id="myModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
		    <!-- Modal content-->
    	<div class="modal-content">
      		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal">&times;</button>
        		<h4 class="modal-title">Address Info</h4>
      		</div>
      	<div class="modal-body">
      	<form id="apartment_form" method="POST"/> 
        {% csrf_token %}
  			<div class="form-group">
    			<label for="id_address_line">Address line:</label>
    				<input id="id_address_line" maxlength="250" name="address_line" type="text" value="313 baynes" required />
  			</div>
  			<div class="form-group">
    			<label for="id_city">City:</label>
    			<input  id="id_city" maxlength="250" name="city" type="text" value="buffalo" required />
  			</div>
  			<div class="form-group">
  				<label for="id_state">State:</label>
  				<input id="id_state" maxlength="250" name="state" type="text" value="New York" required />
  			</div>
  			<div class="form-group">
  				<label for="id_zipcode">Zipcode:</label>
  				<input id="zipcode" maxlength="250" name="zipcode" type="text" value="14213" required />
  			</div>
  			<button type="submit" class="btn btn-default">Submit</button>
		</form>
     		 </div>
     			 <div class="modal-footer">
        			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      			</div>
    		</div>

 		 </div>
		</div>
		</div>

		<div class="container-fluid">
				<!-- trigger the modal with a button -->
		<center><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#gen">Generic info</button></center>
		<div id="gen" class="modal fade" role="dialog">
		<div class="modal-dialog">
		    <!-- Modal content-->
    	<div class="modal-content">
      		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal">&times;</button>
        		<h4 class="modal-title">Generic Info</h4>
      		</div>
      	<div class="modal-body">
      	<form id="apartment_form" method="POST"/>
        {% csrf_token %}
  			<div class="form-group">
    			<label for="id_bedroom">Bedrooms:</label>
    				<input id="id_bedroom" maxlength="250" name="bedrooms" type="text" value="1" required />
  			</div>
  			<div class="form-group">
    			<label for="id_bathroom">Bathrooms:</label>
    			<input id="id_bathrooms" maxlength="250" name="bathrooms" type="text" value="1" required />
  			</div>
  			<div class="form-group">
  				<label for="id_living_room">Living room:</label>
  				<!--<input type="text" class="form-control" id="livingroom">-->
  				<input  id="id_living_room" name="living_room" type="checkbox" /> 
  				
  			</div>
  			<div class="form-group">
  				<label for="id_dining_room">Dining room:</label>
  				<!--<input type="text" class="form-control" id="livingroom">-->
  				<input id="id_dining_room" name="dining_room" type="checkbox" /> 
  			</div>
  			<div class="form-group">
  				<label for="id_basement">Basement:</label>
  				<!--<input type="text" class="form-control" id="livingroom">-->
  				<input id="id_basement" name="basement" type="checkbox" />
  			</div>
  			<div class="form-group">
  				<label for="id_attic">Attic:</label>
  				<!--<input type="text" class="form-control" id="livingroom">-->
  				<input id="id_attic" name="attic" type="checkbox" /> 
  			</div>
  			<div class="form-group">
  				<label for="id_secondary_storage">Secondary storage:</label>
  				<!--<input type="text" class="form-control" id="livingroom">-->
  				<input id="id_secondary_storage" name="secondary_storage" type="checkbox" />
  			</div>
  			<button type="submit" class="btn btn-default">Submit</button>
		</form>
     		 </div>
     			 <div class="modal-footer">
        			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      			</div>
    		</div>

 		 </div>
		</div>
		</div>

		<div class="container-fluid">
		<!-- trigger the modal with a button -->
		<center><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#util">Utilities</button></center>
		<div id="util" class="modal fade" role="dialog">
		<div class="modal-dialog">
		    <!-- Modal content-->
    	<div class="modal-content">
      		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal">&times;</button>
        		<h4 class="modal-title">Utilities Info</h4>
      		</div>
      	<div class="modal-body">
    <form id="apartment_form" method="POST"/>
{% csrf_token %}
  			<div class="form-group">
  				<label for="id_gas">Included Utilities</label>
  				<!--<input type="text" class="form-control" id="livingroom">-->
  				<input id="id_gas" name="gas" type="checkbox" /> 
          <label for="id_electric">Electric</label>
  				<input id="id_electric" name="electric" type="checkbox" /> 
          <label for="id_water">Water:</label>
  				<input id="id_water" name="water" type="checkbox" /> 
          <label for="id_heat">Heat:</label>
  				<input id="id_heat" name="heat" type="checkbox" /> 
          <label for="id_dryer">Dryer:</label>
  				<input id="id_dryer" name="cable/internet" type="checkbox" /> 
          <label for="id_washer">Washer:</label>
  				<input id="id_washer" name="washer" type="checkbox" /> 
          <label for="id_garbage">Garbage:</label>
          <input id="id_garbage" name="garbage" type="checkbox" /> 
  			</div>
  			<button type="submit" class="btn btn-default">Submit</button>
		</form>
     		 </div>
     			 <div class="modal-footer">
        			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      			</div>
    		</div>

 		 </div>
		</div>
		</div>

		<div class="container-fluid">
		<!-- trigger the modal with a button -->
		<center><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#park">Parking</button></center>
		<div id="park" class="modal fade" role="dialog">
		<div class="modal-dialog">
		    <!-- Modal content-->
    	<div class="modal-content">
      		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal">&times;</button>
        		<h4 class="modal-title">Parking Info</h4>
      		</div>
      	<div class="modal-body">
      	<form id="apartment_form" method="POST"/>
        {% csrf_token %}
  			<div class="form-group">
    			<label for="id_parking_offstreet">Parking Offstreet:</label>
    				<input id="id_parking_offstreet" name="parking_offstreet" type="checkbox" />
          <label for="id_parking_onstreet">Parking Onstreet:</label>
    				<input id="id_parking_onstreet" name="parking_onstreet" type="checkbox" /> 
  			</div>
  		</div>
  			<button type="submit" class="btn btn-default">Submit</button>
		</form>
     		 </div>
     			 <div class="modal-footer">
        			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      			</div>
    		</div>
    </div>
 



		<div class="container-fluid">
		<!-- trigger the modal with a button -->
		<center><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#tran">Public Transit</button></center>
		<div id="tran" class="modal fade" role="dialog">
		<div class="modal-dialog">
		    <!-- Modal content-->
    	<div class="modal-content">
      		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal">&times;</button>
        		<h4 class="modal-title">Public Transit</h4>
      		</div>
      	<div class="modal-body">
    <form id="apartment_form" method="POST"/>
    {% csrf_token %}
        <div class="form-group">
          <label for="id_public_transportation">Public transportation:</label>
            <input id="id_public_transportation" name="public_transportation" type="checkbox" />
        </div>
  		
  			<button type="submit" class="btn btn-default">Submit</button>
		</form>
     		 </div>
     			 <div class="modal-footer">
        			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      			</div>
    		</div>

 		 </div>
		</div>
		</div>

    <div class="container-fluid">
    <!-- trigger the modal with a button -->
    <center><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#lan">LandLord</button></center>
    <div id="lan" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
      <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">LandLord</h4>
          </div>
        <div class="modal-body">
    <form id="apartment_form" method="POST"/>
    {% csrf_token %}
        <div class="form-group">
          <label for="id_landlord">LandLord:</label>
            <select id="id_landlord" name="landlord" required>
            <option value="1">Evangelista</option>
            </select>
        </div>
      
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
         </div>
           <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

     </div>
    </div>
    </div>

    <div class="container-fluid">
    <!-- trigger the modal with a button -->
    <center><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#pet">Pets</button></center>
    <div id="pet" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
      <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Pets</h4>
          </div>
        <div class="modal-body">
    <form id="apartment_form" method="POST"/>
    {% csrf_token %}
        <div class="form-group">
          <label for="id_pets">Pets:</label>
           <input id="id_pets" name="pets" type="checkbox" />
        </div>
      
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
         </div>
           <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

     </div>
    </div>
    </div>

    <div class="container-fluid">
    <!-- trigger the modal with a button -->
    <center><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#rent">Rent</button></center>
    <div id="rent" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
      <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Rent</h4>
          </div>
        <div class="modal-body">
    <form id="apartment_form" method="POST"/>
    {% csrf_token %}
        <div class="form-group">
          <label for="id_avg_security_deposit">Avg security deposit:</label>
           <input id="id_avg_security_deposit" name="avg_security_deposit" step="0.01" type="number" value="0" required />
        </div>
        <div>
            <label for="id_avg_rent">Avg rent:</label>
            <input id="id_avg_rent" name="avg_rent" step="0.01" type="number" value="0" required />
        </div>
      
              <input type="submit" name="submit" value="Add Apartment"/>

    </form>
         </div>
           <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

     </div>
    </div>
    </div>
<input type="submit" name="submit" value="Add Apartment"/>
    </body>
    </html>
