<!--
Authors: Gregory Landon-Langlois Leonardo Evangelista Malcolm Fraser Joseph Cacsioli
Project: CSE442 Apartment rating website
Version: 0.01
Date: 09-18-2016
Notes:
-->
{% extends 'header.html' %}
{% block body %}

{% load static %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<style>
#page-header{
	display: block;	
	margin-left: auto;
	margin-right: auto;
}
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
#map {
	display: block;
	margin: 0 auto;
	height: 50%;
	width: 50%;
}
.controls {
	margin-top: 10px;
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 32px;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
	background-color: #fff;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	margin-left: 12px;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 300px;
}

#pac-input:focus {
	border-color: #4d90fe;
}

.pac-container {
	font-family: Roboto;
}

#type-selector {
	color: #fff;
	background-color: #4d90fe;
	padding: 5px 11px 0px 11px;
}

#type-selector label {
	font-family: Roboto;
	font-size: 13px;
	font-weight: 300;
}
#target {
	width: 345px;
}
	</style>
<!--
	<script src='{% static "js/googleautocomplete.js" %}'></script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMOmPLGoFdmb2OrswKsqz-cehbMG3jJdA&libraries=places&&callback=initAutocomplete"
			async defer></script>
-->

	<div class= "container-fluid"> 
		<CENTER>
			<h4>Rentar is a website for renters to look up reliable information on an apartment they were thinking of moving into. <br>
			Previous tenants can share their experience about their landlords so that others can make informed decisions on where to move.
			</h4>
			<form method="get" action="/search/" align = "center" style="width: 100%;" >
				<font size="22" color = "#FFA500" ><b> Search Apartments</b></font>
				<p>Search already rated apartments. If your apartment isn't found add it by clicking "Add Apartment" above.</p>
				<input type="text" name="q" id="id_q" value="{{ query }}" />
				<input type="submit" value="Search" />
			</form>
        </CENTER>
    </div>
	<center>
		<img src='{% static "img/homepagepic.jpg" %}' class='img-responsive' alt="My image"/>
	</center>

{% endblock %}

<!-- <footer>
	<center>
		<form action="~/pages/login.html">
			<button type="submit">Login</button>
		</form>
	</center>
</footer>
 -->

<!-- Login page to our login.html in pages

<center>
	<form action="pages/login.html" method="get">
    	<input type="submit" value="Login"
         	name="Submit" id="frm1_submit" />
	</form>
</center> -->

