{% extends 'header.html' %}
{% block body %}
	<center>Login to Rentar</center>
	<!-- <center>New to Renter?</center> -->

	<!-- Username goes heaaaa --> 
	<center>
   		<label><b>Username</b></label>
    	<input type="text" placeholder="Enter Username" name="uname" required>
    </center>

 	<!-- Password goes heaaaa --> 
 	<center>
    	<label><b>Password</b></label>
    	<input type="password" placeholder="Enter Password" name="psw" required>
    </center>

    <center>
    	    <button type="submit">Login</button>
    	    <input type="checkbox" checked="checked"> Remember me

    </center>

{% endblock %}